.btn-back {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .8em;
  i { font-size: .8em; margin-right: 10px}
}

.btn-big {
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-big.green {
  background-color: $green-color;
}

.btn-big.orange {
  background-color: $orange-color;
}
