.btn-back {
  font-weight: 800;
  font-size: .8em;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  i { font-size: .8em; margin-right: 10px}
  &:hover {
    color: $light-text-color;
  }
  &:hover i:before { color:$light-text-color; }
}

.btn-big {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-big.green {
  background-color: $green-color;
  &:hover {
    background-color: #28a452;;
  }
}

.btn-big.orange {
  background-color: $orange-color;
}

.btn-graph {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  font-size: .67em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $green-color;
  color: white;
  border-radius: 5px;
}


