.btn-back {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  i { font-size: 14px; margin-right: 10px}
}

.btn-big {
  width: 100%;
  color: white;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 15px 0;
  border-radius: 5px;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;


}