#chart1 {
  .ct-series-a .ct-line {
    stroke: #466d98;
  }

  .ct-series-a .ct-point {
    stroke-width: 0;
  }
}

#chart2 {
  .ct-series-a .ct-line {
    stroke: #39affa;
  }

  .ct-series-a .ct-point {
    stroke-width: 0;
  }
}

.ct-label {
  color: $main-text-color !important;
  font-size: .8em;
}

