$green-color: #28b857;
$blue-color: #466d98;
$orange-color: #ffc001;
$red-color: #ff6161;
$icon-color: #5479a0;

$main-text-color: #11354e;
$light-text-color: #b9bbbd;
$green-text-color: #73e068;
$orange-text-color: #ffcd00;
$red-text-color: #ff6161;