.main-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: solid 1px $light-text-color;
  line-height: 1.3;
  &::-webkit-input-placeholder {color:$light-text-color; }
  &::-moz-placeholder          {color:$light-text-color; }
  &:-ms-input-placeholder      {color:$light-text-color; }
  &:focus, &:hover, &:active {
    border: solid 1px $blue-color;
  }
}

.wrap-input-info {
  margin-bottom: 10px;
  input { margin-bottom: 0; line-height: 1.3; }
  position: relative;
  .btn-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    text-decoration: none;
    cursor: pointer;
  }
}

.wrap-input-info.wrong-input {
  &:before {
    content: "\e923";
    position: absolute;
    font-family: 'icomoon' !important;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 1em;
    color: $red-color;
  }
  input { border: solid 1px $red-color; }
}
.wrap-input-info.wrong-input + .tooltip.wrong { display: block; }

.tooltip {
  display: none;
  padding: 0 10px 10px 0;
  p {
    font-size: .8em;
    i { margin-right: 5px; }
  }
}
.tooltip.wrong {
  padding: 0 10px 10px 0;
  p { color: $red-color; }

}

.label-radio {
  color: $light-text-color;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
}

//custom-radio

.custom-radio {
  label {
    position: relative;
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase;
    color: $main-text-color;
    border: solid 1px $main-text-color;
    border-radius: 5px;
    padding: 10px 0;
    width: 70px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    @media only screen and (min-width: 1200px) { width: 150px; }
    @media only screen and (max-width: 1200px) { width: 130px; }
    @media only screen and (max-width: 992px) { width: 100px; }
    @media only screen and (max-width: 768px) { width: 70px; }
  }
  input[type=radio] { display: none; }
  input[type=radio]:checked + label {
    background-color: $green-color;
    border: solid 1px $green-color;
    color: white;
  }
}

.wrap-custom-radio {
  display: flex;
  justify-content: flex-end;
  .custom-radio { margin-left: 10px; }
}

.radio-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

//custom checkbox

.custom-checkbox {
  position: relative;
  padding: 10px 5px;
  label {
    margin-left: 30px;
    position: relative;
    font-weight: 300;
    font-size: 1.1em;
    span {
      color: $blue-color;
      font-weight: 600;
      font-size: inherit;
    }
  }
  input[type=checkbox] { display: none; }
  label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -10px;
    border: solid 1px $main-text-color;
    background: white;
    border-radius: 5px;
  }
  input[type=checkbox]:checked + label:before {
    width: 20px;
    height: 20px;
    display: block;
    background: url("../img/check.svg") 50% 50% no-repeat, $blue-color;
    background-size: 80%;
    border: solid 1px $blue-color;
  }
}