@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import "normalize.css";
@import "_reset.scss";
@import "_colors.scss";
@import "_btn.scss";
@import "_inputs.scss";

.container {
  width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: 1200px) {
    width: 1140px;
  }
  @media only screen and (max-width: 1200px) {
    width: 970px;
  }
  @media only screen and (max-width: 992px) {
    width: 750px;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0 5px;
  }
}

//.transition {
//  -moz-transition: all .15s;
//  -webkit-transition: all .15s;
//  -o-transition: all .15s;
//  transition: all .15s;
//}

//.db {
//  display: block;
//}

header {
  background-color: $blue-color;
  color: white;
  padding: 15px 0;
  .name-window {
    font-size: 24px;
    font-weight: 600;
  }
}

.content-page {
  padding: 20px 0 ;
}



footer {
  box-shadow: 0px 0px 19.6px 0.4px rgba(1, 2, 2, 0.17);
  overflow: hidden;
  padding: 15px 0;

  ul {
    li {
      float: left;
      width: 25%;
      text-align: center;
      cursor: pointer;
      a {
        text-decoration: none;
        i:before {
          font-size: 30px;
          color: #b7b9ce !important;
        }
      }
      &:hover a i:before { color: $blue-color !important}
    }
    li.active a i:before { color: $blue-color !important}
  }
}


.main-input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px $light-text-color;
  padding: 15px;
  margin-bottom: 10px;
}

.label-radio {
  color: $light-text-color;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}


