@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import "normalize.css";
@import "_reset.scss";
@import "_colors.scss";
@import "_btn.scss";
@import "_inputs.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_table.scss";
@import "_medical-indicators.scss";
@import "_charts.scss";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  color: $main-text-color;
  @media only screen and (min-width: 1200px) { font-size: 24px; }
  @media only screen and (max-width: 1200px) { font-size: 22px; }
  @media only screen and (max-width: 992px) { font-size: 20px; }
  @media only screen and (max-width: 768px) { font-size: 18px; }
  @media only screen and (max-width: 600px) { font-size: 17px; }
  @media only screen and (max-width: 400px) { font-size: 14px; }
}

.container {
  width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: 992px) { width: 970px; }
  @media only screen and (max-width: 992px) { width: 750px; }
  @media only screen and (max-width: 768px) { width: 100%;  padding: 0 20px; }
}

html, body {
  height: 100%;
}
.content-page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -61px;
}
.content-page:after {
  content: "";
  display: block;
}
footer, .content-page:after {
  height: 61px;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: $light-text-color;
  margin: 25px 0 15px;
}

.main-content.home {
  background-color: #ebf1f7;
}

.progress-bars {
  padding: 20px 0;
  overflow: hidden;
  background-color: $blue-color;
  .wrap-progres-bar {
    width: 50%;
    float: left;
    &:first-child { padding: 0 10px 0 0; }
    &:last-child { padding: 0 0 0 10px; }
    .name-progres-bar {
      font-size: .8em;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .body-mass-index, .hip-2-waist-ratio {
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    height: 200px;
    background-color: white;
  }
}

.text-disclamer {
  font-size: .8em;
}

.decorated-or {
  text-align: center;
  overflow: hidden;
  margin: 30px 0;
  font-weight: 800;
  span {
    color: $light-text-color;
    position: relative;
    font-size: 1em;
  }
  span:before, span:after {
    content: "";
    width: 1000px;
    height: 1px;
    display: block;
    background-color: $light-text-color;
    position: absolute;
    top: 50%;
  }
  span:before { right: 30px; }
  span:after { left: 30px; }
}

.form-register,
.form-reset-password,
.form-add-measurements,
.form-login, .form-profile  {
  margin: 20px 0;
}


.link-forgot-password {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: cornflowerblue;
  text-decoration: none;
  font-weight: 600;
}