@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import "normalize.css";
@import "_reset.scss";
@import "_colors.scss";
@import "_btn.scss";
@import "_inputs.scss";

.container {
  width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: 1200px) {
    width: 1140px;
  }
  @media only screen and (max-width: 1200px) {
    width: 970px;
  }
  @media only screen and (max-width: 992px) {
    width: 750px;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0 10px;
  }
}

//.transition {
//  -moz-transition: all .15s;
//  -webkit-transition: all .15s;
//  -o-transition: all .15s;
//  transition: all .15s;
//}

//.db {
//  display: block;
//}

header {
  background-color: $blue-color;
  color: white;
  padding: 15px 0;
  position: relative;
  .name-window {
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
  }
  .btn-back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
}

.header-home {
  .btn-add {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-decoration: none;
    right: 10px;
    i:before { font-size: 1.2em}
  }
}

.main-content {
  //padding: 20px 0;
}



footer {
  box-shadow: 0px 0px 19.6px 0.4px rgba(1, 2, 2, 0.17);
  overflow: hidden;
  padding: 15px 0;
  .nav {
    li {
      float: left;
      width: 25%;
      text-align: center;
      cursor: pointer;
      a {
        text-decoration: none;
        i:before {
          font-size: 30px;
          color: #b7b9ce !important;
        }
      }
      a:hover i:before { color: $blue-color !important}
    }
    li.active a i:before { color: $blue-color !important}
  }
}


.main-input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px $light-text-color;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1em;
  &::-webkit-input-placeholder {color:$light-text-color; }
  &::-moz-placeholder          {color:$light-text-color; }
  &:-ms-input-placeholder      {color:$light-text-color; }
}

.label-radio {
  color: $light-text-color;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
}

html, body {
  height: 100%;
}
.content-page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -61px;
}
.content-page:after {
  content: "";
  display: block;
}
footer, .content-page:after {
  height: 61px;
}


.list-medical-indicators {
  background-color: #ebf1f7;
  padding: 20px 10px;
  .wrap-medical-indicator {
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 6px 20px 0px rgba(44, 81, 97, 0.15);
    .medical-indicator {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i {  width: 25px; }
      i:before { font-size: 1.5em; }
      .name-medical-indicator {
        width: 75%;
        font-size: 1em;
        font-weight: 800;
        text-transform: uppercase;
        color: $main-text-color;
        margin-left: 10px;
      }
    }
    .value-medical-indicator {
      font-size: 1.15em;
      font-weight: 600;
      position: relative;
      margin-right: 20px;
      &:after {
        content: '\e914';
        font-family: 'icomoon' !important;
        font-size: .5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        color: #999999;
      }
    }
    .value-medical-indicator.good {color: $green-color;}
    .value-medical-indicator.fair {color: $orange-color;}
    .value-medical-indicator.bad {color: $red-color;}
  }
}

.no-padding {
  padding: 0;
}


.progress-bars {
  padding: 20px 0;
  overflow: hidden;
  background-color: $blue-color;
  .wrap-progres-bar {
    width: 50%;
    float: left;
    padding: 0 10px;
    &:first-child {
      padding: 0 5px 0 10px;
    }
    &:last-child {
      padding: 0 10px 0 5px;
    }
    .name-progres-bar {
      font-size: .8em;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .body-mass-index, .hip-2-waist-ratio {
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    height: 200px;
    background-color: white;

  }
}


.form-profile {
  padding: 20px 0;
}

.text-disclamer {
  font-size: .8em;
  color: $main-text-color;
}

.decorated-or {
  text-align: center;
  overflow: hidden;
  margin: 30px 0;
  color: $light-text-color;
  font-weight: 800;

  span {
    position: relative;
    font-size: 1em;
  }
  span:before, span:after {
    content: "";
    width: 1000px;
    height: 1px;
    display: block;
    background-color: $light-text-color;
    position: absolute;
    top: 50%;
  }
  span:before { right: 20px; }
  span:after { left: 20px; }


}
.signUp-header {
  text-align: center;
  font-size: 1em;
  color: $main-text-color;
}

.form-register, .form-reset-password {
  margin: 20px 0;
}