@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext");
@import url(normalize.css);
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px; }

.btn-back {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .8em; }
  .btn-back i {
    font-size: .8em;
    margin-right: 10px; }

.btn-big {
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none; }

.btn-graph {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
  background-color: #28b857;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  font-size: .67em; }

.btn-big.green {
  background-color: #28b857; }

.btn-big.orange {
  background-color: #ffc001; }

/******custom-radio****/
.custom-radio label {
  position: relative;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  color: #11354e;
  border: solid 1px #11354e;
  border-radius: 5px;
  padding: 10px 0;
  width: 70px;
  display: inline-block;
  text-align: center;
  cursor: pointer; }
.custom-radio input[type=radio] {
  display: none; }
.custom-radio input[type=radio]:checked + label {
  background-color: #28b857;
  border: solid 1px #28b857;
  color: white; }

.wrap-custom-radio {
  display: flex;
  justify-content: flex-end; }
  .wrap-custom-radio .custom-radio {
    margin-left: 10px; }

.radio-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }

/****custom checkbox****/
.custom-checkbox {
  position: relative;
  padding: 10px 5px; }
  .custom-checkbox label {
    margin-left: 30px;
    position: relative;
    font-weight: 300;
    font-size: 1.1em; }
    .custom-checkbox label span {
      color: #466d98;
      font-weight: 600;
      font-size: inherit; }
  .custom-checkbox input[type=checkbox] {
    display: none; }
  .custom-checkbox label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -10px;
    border: solid 1px #11354e;
    background: white;
    border-radius: 5px; }
  .custom-checkbox input[type=checkbox]:checked + label:before {
    width: 20px;
    height: 20px;
    display: block;
    background: url("../img/check.svg") 50% 50% no-repeat, #466d98;
    background-size: 80%;
    border: solid 1px #466d98; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1140px; } }
  @media only screen and (max-width: 1200px) {
    .container {
      width: 970px; } }
  @media only screen and (max-width: 992px) {
    .container {
      width: 750px; } }
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 10px; } }

header {
  background-color: #466d98;
  color: white;
  padding: 15px 0;
  position: relative; }
  header .name-window {
    font-size: 1.1em;
    font-weight: 600;
    text-align: center; }
  header .btn-back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px; }

.header-home .btn-add {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  text-decoration: none;
  right: 10px; }
  .header-home .btn-add i:before {
    font-size: 1.2em; }

footer {
  box-shadow: 0px 0px 19.6px 0.4px rgba(1, 2, 2, 0.17);
  overflow: hidden;
  padding: 15px 0; }
  footer .nav li {
    float: left;
    width: 25%;
    text-align: center;
    cursor: pointer; }
    footer .nav li a {
      text-decoration: none; }
      footer .nav li a i:before {
        font-size: 30px;
        color: #b7b9ce !important; }
    footer .nav li a:hover i:before {
      color: #466d98 !important; }
  footer .nav li.active a i:before {
    color: #466d98 !important; }

.main-input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #b9bbbd;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1em; }
  .main-input::-webkit-input-placeholder {
    color: #b9bbbd; }
  .main-input::-moz-placeholder {
    color: #b9bbbd; }
  .main-input:-ms-input-placeholder {
    color: #b9bbbd; }

.label-radio {
  color: #b9bbbd;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em; }

html, body {
  height: 100%; }

.content-page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -61px; }

.content-page:after {
  content: "";
  display: block; }

footer, .content-page:after {
  height: 61px; }

.list-medical-indicators {
  background-color: #ebf1f7;
  padding: 20px 10px; }
  .list-medical-indicators .wrap-medical-indicator {
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 6px 20px 0px rgba(44, 81, 97, 0.15); }
    .list-medical-indicators .wrap-medical-indicator .medical-indicator {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .list-medical-indicators .wrap-medical-indicator .medical-indicator i {
        width: 25px; }
      .list-medical-indicators .wrap-medical-indicator .medical-indicator i:before {
        font-size: 1.5em; }
      .list-medical-indicators .wrap-medical-indicator .medical-indicator .name-medical-indicator {
        width: 75%;
        font-size: 1em;
        font-weight: 800;
        text-transform: uppercase;
        color: #11354e;
        margin-left: 10px; }
    .list-medical-indicators .wrap-medical-indicator .value-medical-indicator {
      font-size: 1.15em;
      font-weight: 600;
      position: relative;
      margin-right: 20px; }
      .list-medical-indicators .wrap-medical-indicator .value-medical-indicator:after {
        content: '\e914';
        font-family: 'icomoon' !important;
        font-size: .5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        color: #999999; }
    .list-medical-indicators .wrap-medical-indicator .value-medical-indicator.good {
      color: #28b857; }
    .list-medical-indicators .wrap-medical-indicator .value-medical-indicator.fair {
      color: #ffc001; }
    .list-medical-indicators .wrap-medical-indicator .value-medical-indicator.bad {
      color: #ff6161; }

.no-padding {
  padding: 0; }

.progress-bars {
  padding: 20px 0;
  overflow: hidden;
  background-color: #466d98; }
  .progress-bars .wrap-progres-bar {
    width: 50%;
    float: left;
    padding: 0 10px; }
    .progress-bars .wrap-progres-bar:first-child {
      padding: 0 5px 0 10px; }
    .progress-bars .wrap-progres-bar:last-child {
      padding: 0 10px 0 5px; }
    .progress-bars .wrap-progres-bar .name-progres-bar {
      font-size: .8em;
      text-transform: uppercase;
      text-align: center; }
  .progress-bars .body-mass-index, .progress-bars .hip-2-waist-ratio {
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    height: 200px;
    background-color: white; }

.form-profile {
  padding: 20px 0; }

/*# sourceMappingURL=main.css.map */
